################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyStarterKit.Models/bin/
/.vs
/MyStarterKit.Models/obj/
/MyStarterKit.Core/bin/
/MyStarterKit.Core/obj/
/MyStarterKit/bin/
/MyStarterKit/obj/
/*.nupkg
