@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

@using MyStarterKit.Core.Extensions 

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1' http-equiv='X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title></title>
    <!--css here-->
    <link rel="stylesheet" type="text/css" href="/mystarterkit-assets/default.css">
</head>
<body>
    @RenderBody()

    <p>Content Id is: @Model.GetContentId()</p>
</body>
</html>

